USE [ExamManagerment]
GO
/****** Object:  StoredProcedure [dbo].[CreateExam]    Script Date: 2/24/2026 11:48:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CreateExam]
	@ExamCode varchar(64),
	@ExamName	nvarchar(512),
	@CategoryCode	varchar(64),
	@Duration	Time,
	@UserUpdate	varchar(256),
	@QuestionNumber	int,
	@Status	int,
	@Questions dbo.QuestionTableType READONLY,
	@Answers dbo.AnswerTableType READONLY
AS
BEGIN
	DECLARE @Now DATETIME = GETDATE()
	-- Kiểm tra trong bảng Exam đã có ExamCode chưa
	-- Status = 2 tạo nháp
	BEGIN TRAN
	IF EXISTS (SELECT TOP 1 1 FROM dbo.Exam WHERE ExamCode = @ExamCode AND [Status] = 2)
	BEGIN
		-- Cập nhật lại đề thi
		UPDATE [dbo].[Exam]
		SET [ExamName] = @ExamName
			,[CategoryCode] = @CategoryCode
			,[Duration] = @Duration
			,[UpdateTime] = @Now
			,[UserUpdate] = @UserUpdate
			,[QuestionNumber] = @QuestionNumber
			,[Status] = @Status
			WHERE ExamCode = @ExamCode AND [Status] = 2
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRAN
			RETURN 102
		END
	END 
	-- Status = 1 đã lưu
	ELSE IF EXISTS (SELECT TOP 1 1 FROM dbo.Exam WHERE ExamCode = @ExamCode AND [Status] = 1)
	BEGIN
		RETURN 101
	END
	-- Chưa có
	ELSE IF NOT EXISTS (SELECT TOP 1 1 FROM dbo.Exam WHERE ExamCode = @ExamCode AND [Status] = 1)
	BEGIN
	INSERT INTO [dbo].[Exam]
           ([ExamCode]
           ,[ExamName]
           ,[CategoryCode]
           ,[Duration]
           ,[UpdateTime]
           ,[UserUpdate]
           ,[QuestionNumber]
           ,[Status])
     VALUES
           (@ExamCode
           ,@ExamName
           ,@CategoryCode
           ,@Duration
           ,@Now
           ,@UserUpdate
           ,@QuestionNumber
           ,@Status)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 103
	END
	END

	INSERT INTO [dbo].[Question]
           ([ExamCode]
           ,[QuestionCode]
           ,[QuestionContent]
           ,[QuestionType]
           ,[QuestionScore])
	SELECT @ExamCode, T.QuestionCode, T.QuestionContent, T.QuestionType, T.QuestionScore
	FROM @Questions T
	LEFT JOIN dbo.Question Q ON Q.QuestionCode = T.QuestionCode AND Q.ExamCode = @ExamCode
	WHERE Q.QuestionCode IS NULL

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 201
	END

	INSERT INTO [dbo].[Answer]
           ([AnswerCode]
           ,[QuestionCode]
           ,[AnswerContent]
           ,[IsCorrect])
	SELECT T.AnswerCode, Q.QuestionCode, T.AnswerContent, T.IsCorrect
	FROM @Answers T
	LEFT JOIN dbo.Answer A ON A.AnswerCode = T.AnswerCode
	JOIN dbo.Question Q ON T.QuestionCode = A.AnswerCode
	WHERE A.AnswerCode IS NULL

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 301
	END
	COMMIT TRAN
	RETURN 1
END
--GO 
--GRANT EXEC ON [dbo].[CreateExam] TO PUBLIC
--GO