USE [ExamManagerment]
GO
/****** Object:  StoredProcedure [dbo].[GetExams]    Script Date: 2/6/2026 1:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetExams]
	@CategoryCode varchar(64) = NULL
	--@UserName varchar(256),
	--@IsAdmin bit = 0
AS
BEGIN
	DECLARE @Sql nvarchar(max) = N'
	SELECT E.ExamCode, E.ExamName, E.Duration, E.CategoryCode, C.CategoryName
	FROM dbo.Exam E
	JOIN dbo.Category C ON E.CategoryCode = C.CategoryCode'
	
	--IF @IsAdmin = 0
	--BEGIN
	--	SET @Sql = @Sql + N'
	--	JOIN dbo.[User] U on E.UserUpdate = U.UserName'
	--END

	SET @Sql = @Sql + CHAR(10) + N' WHERE 1 = 1' +
	--CASE WHEN @IsAdmin = 0 THEN ' AND U.UserName = ''' + @UserName + '''' ELSE '' END +
	CASE WHEN @CategoryCode IS NOT NULL THEN ' AND C.CategoryCode = ''' + @CategoryCode + '''' ELSE '' END

	PRINT(@Sql)
	EXEC(@Sql)

	IF @@ERROR <> 0
	BEGIN
		RETURN 2 -- LỖI
	END
	RETURN 1 -- THÀNH CÔNG
END
GO
-- Lệnh cấp quyền truy cập Public là cấp quyền cho tất cả User
-- Trong dự án thật thì để tên User không nên ghi PUBLIC
-- Không chỉ SP cần cấp quyền, khi tạo 1 schema, Table, Type,... đều phải cấp quyền truy cập
--GRANT EXEC ON [dbo].[GetExams] TO PUBLIC
--GO
-- Lệnh thực thi(test thử)
--exec dbo.GetExams @CategoryCode='Toeic_RL'